<p>Hi {{ recipientName }},</p>
<p>Here is today's random journal entry written by {{author}}</p>
<p>
    {{content}}
</p>

<p>If you're interested in receiving more journal entries like this one, feel free to contribute daily to our shared collection. I believe your unique perspective would enrich our collection even further!

Looking forward to your contributions.</p>
